.profile{
    position: relative;
    width: 600px;
    margin: 0 auto;
}
.cover{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.user{
    height: 120px;
    width: 120px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    bottom: -60px;
    left: 60px;
    transform: translateX(125%);
    border: 5px solid white;
}
.header{
    width: 600px;
    padding-top: 58px;
    transform: translateX(35%);
    margin: 0 auto;
    font-family: 'Courier New', Courier, monospace;
}
.info{
    width: 600px;
    transform: translateX(24%);
    margin: 0 auto;
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
}