body{
    font-family: sans-serif;
}
.card{
    border: 1px solid lightgray;
    border-radius: 14px;
    padding: 0px;
    margin: 10px auto;
    width: 450px;
    height: 460px;
    position: relative;
}
.card-img{
    width: 450px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.head{
    font-size: 32px;
    padding: 2px;
    margin-bottom: -10%;
}
.text{
    color: rgb(101, 100, 100);
    font-size: 24px;
    padding: 4px;
    padding-top: 0;
    margin-top: 10%;
}
.content{
    color: gray;
    font-size: 18px;
    border-top: 1px solid lightgray;
    padding: 5px;
    padding-top: 10px;
}
.tag{
    width: 128px;
    height: 42px;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0px;
    background: rgb(0, 149, 255);
    border-top-left-radius: 14px;
    position: absolute;
    bottom: 0;
    top: 0;
}
.new-tag{
    width: 68px;
    height: 30px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: -10px;
    padding-bottom: 5px;
    border: 1px solid lightgray;
    background: rgb(158, 158, 158);
    border-radius: 5px;
    margin-right: 5px;
    position: absolute;
    bottom: 188px;
    right: 0;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}